.lost-info-header{
    font-size: 30px;
    margin-bottom: 3%;
}

.lostReason-header{
    font-size: 20px;
}

.lostCard-table {
    margin: 20px 0;
    width: 100%;
    box-shadow: 0 0  rgba(0, 0, 0, 0.15);

}

.lostCard-table table {
    width: 100%;
    border-collapse: collapse;
}

.lostCard-table th,
.lostCard-table td {
    padding: 10px 12px;
    border: 1px solid #ddd; /* 경계선 */
}

.lostCard-table th {
    background-color: #f3f3f3; /* 헤더 배경색 */
    color: #333;
    font-weight: bold;
    text-align: left;
}

.lostCard-table tbody tr:hover {
    background-color: #f5f5f5; /* 마우스 오버 시 행의 배경색 */
}

.lostReason-select-div{
    display: flex;
    flex-direction: row;
    float: right;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}

.lostReason-select-text{
    font-size: 20px;
    margin-right: 10%;
    width: 100px;
}


.lostReason-select-div select {
    width: 180px;  /* 원하는 너비로 설정 */
    height: 35px;  /* 원하는 높이로 설정 */
    padding: 5px;  /* 패딩 추가로 좀 더 편안한 느낌을 주기 위함 */
    font-size: 16px;  /* 글자 크기 조절 */
}