.sub-container {
    display: flex;
    /*border: 1px solid black;*/
    flex-direction: column;
}

.cluster-header {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cluster-header h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 0;
}

.table-div{
    width: 100%; /* 테이블 너비 */
    border-collapse: collapse; /* 테이블 내 경계선 제거 */
    margin: 20px 0; /* 상하 마진 추가 */
    font-size: 14px; /* 글꼴 크기 */
}

/* 테이블 헤더 스타일 */
.table-div thead{
    background-color: #f2f2f2; /* 배경색 */
    font-size: 16px;
}

.table-div thead th {
    padding: 12px 10px; /* 패딩 */
    border: 1px solid #ddd; /* 경계선 */
}

/* 테이블 본문 스타일 */
.table-div tbody td {
    padding: 6px 10px;
    border: 1px solid #ddd; /* 경계선 */
    background-color: white;
    font-size: 16px;
}

/* 테이블 행 호버 스타일 */
.table-div tbody tr:hover{
    background-color: #f5f5f5; /* 배경색 */
}

.table-div button {
    display: block;
    margin: auto; /* 수평 중앙 정렬 */
    padding: 8px 20px;  /* 버튼의 내부 패딩 */
    font-size: 15px;    /* 텍스트 크기 */
    background-color: #00857F; /* 버튼의 배경색 */
    border: none;   /* 테두리 제거 */
    color: #ffffff; /* 버튼의 글자색 */
    border-radius: 5px;   /* 버튼 모서리 둥글게 */
    cursor: pointer;  /* 마우스 커서를 손가락 모양으로 */
    transition: background-color 0.3s;  /* 배경색 변경 시 부드럽게 전환 */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
    height: 730px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 부모 div 요소들에 flex를 적용하여 내부의 div 요소들을 가로로 나열합니다. */
.row1-div, .row2-div {
    margin-top: 3%;
    display: flex; /* 자식 요소들 사이에 동일한 간격을 만듭니다. */
    height: 292px;
    margin-bottom: 3%;
}


.report-div,.gender-chart-div{
    width: 45%;
    margin: 7px;
    padding: 12px;
    border: 1px solid white; /* 테두리 색상을 흰색으로 설정합니다. */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과를 적용합니다. */
    background-color: #f6f8fa; /* 배경색을 약간 회색톤으로 설정합니다. */
    height: 287px;
}

/*.many-chart-div,.small-chart-div {*/
/*    width: 50%;*/
/*    margin: 15px; !* 주변과의 간격을 만듭니다. *!*/
/*    padding: 16px; !* 내부의 내용과 테두리 사이의 간격을 만듭니다. *!*/
/*    border: 1px solid white; !* 테두리 색상을 흰색으로 설정합니다. *!*/
/*    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); !* 그림자 효과를 적용합니다. *!*/
/*    background-color: #f6f8fa; !* 배경색을 약간 회색톤으로 설정합니다. *!*/
/*    height: 260px;*/
/*}*/

.many-chart-div, .small-chart-div {
    width: 55%;
    margin: 7px;
    padding: 12px;
    border: 1px solid white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f6f8fa;
    height: 287px;
}

.cluster-chart-div {
    display: flex;       /* flex 레이아웃을 사용합니다 */
    justify-content: space-between;  /* div 요소들 사이에 동일한 간격을 부여합니다 */
    /*height: 300px;*/
}

/* 각 div 요소의 width를 동일하게 설정합니다. */
.cluster-chart-div .pie-div {
    width: 36%;   /* 원하는 너비로 조절 */
    height: 305px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.pie-div canvas {
    width: 30%;   /* 원하는 너비로 조절 */
    height: 30%;  /* 원하는 높이로 조절 */

}

.cluster-chart-div h3{
    margin-bottom: 0px;
}

.cluster-chart-div .bar1-div {
    width: 55%;   /* 원하는 너비로 조절 */
    height: 320px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 15px;
}


.bar1-div canvas {
    padding-top: 15px;
    width: 50%;   /* 원하는 너비로 조절 */
    height: 28%;  /* 원하는 높이로 조절 */
    /*display: block;*/
}

/*.canvas-div canvas {*/
/*    width: 387px !important;*/
/*    height: 220px !important;*/
/*}*/



.category-top3{
    display: flex;
    flex-direction: row;

}

.report-div{
    display: flex;
    flex-direction: column;
}


.big, .small{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.category-header{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.chartname-header{
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 10px;
}


.report-content{
    margin-top: 3px;
    margin-bottom: 17px;
}

.category-top3{
    display: flex;
    justify-content: space-between;
}

.category-top3 > div{
    flex:1;
    align-items: center;
    padding-bottom: 10px;
    margin: 10px;
}



.report{
    margin-top: 15px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}

.mean-div{
    margin-top: 20px;
}

.bigcategory{
    display: flex;
    justify-content: center;
}

