.sub-container {
    display: flex;
    /*border: 1px solid black;*/
    flex-direction: column;
}

.cluster-header {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f6f8fa;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cluster-header h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 0;
}

.table-div {
    overflow-x: auto; /* 테이블이 div 너비를 초과할 경우 스크롤바 추가 */
}

.table-div table {
    width: 100%;
    border-collapse: collapse;
}

.table-div th, .table-div td {
    padding: 10px 15px;
    text-align: left;
}

.table-div th {
    background-color: #00857F;
    color: #fff;
}

.table-div tbody tr:hover {
    background-color: #f5f5f5;
}

.table-div button {
    padding: 5px 10px;
    border: none;
    background-color: #00857F;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.table-div button:hover {
    background-color: #2980b9;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 700px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 부모 div 요소들에 flex를 적용하여 내부의 div 요소들을 가로로 나열합니다. */
.row1-div, .row2-div {
    margin-top: 3%;
    display: flex;
    justify-content: space-between; /* 자식 요소들 사이에 동일한 간격을 만듭니다. */
    height: 270px;
    margin-bottom: 3%;
}

/* 각각의 자식 div 요소들의 크기와 스타일을 설정합니다. */
.report-div, .many-chart-div, .gender-chart-div, .small-chart-div {
    flex: 1; /* 부모 요소의 너비를 균등하게 나눕니다. */
    margin: 10px; /* 주변과의 간격을 만듭니다. */
    padding: 10px; /* 내부의 내용과 테두리 사이의 간격을 만듭니다. */
    border: 1px solid white; /* 테두리 색상을 흰색으로 설정합니다. */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과를 적용합니다. */
    background-color: #f9f9f9; /* 배경색을 약간 회색톤으로 설정합니다. */
    height: 230px;
    margin-bottom: 3%;
}

.cluster-chart-div {
    display: flex;       /* flex 레이아웃을 사용합니다 */
    justify-content: space-between;  /* div 요소들 사이에 동일한 간격을 부여합니다 */
    /*height: 300px;*/
}

/* 각 div 요소의 width를 동일하게 설정합니다. */
.cluster-chart-div .pie-div {
    width: 36%;   /* 원하는 너비로 조절 */
    height: 295px;
    background-color: #f6f8fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.pie-div canvas {
    width: 30%;   /* 원하는 너비로 조절 */
    height: 30%;  /* 원하는 높이로 조절 */

}

.cluster-chart-div h3{
    margin-bottom: 0px;
}

.cluster-chart-div .bar1-div {
    width: 50%;   /* 원하는 너비로 조절 */
    height: 310px;
    background-color: #f6f8fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 15px;
}


.bar1-div canvas {
    padding-top: 15px;
    width: 50%;   /* 원하는 너비로 조절 */
    height: 28%;  /* 원하는 높이로 조절 */
    /*display: block;*/
}





.category-top3{
    display: flex;
    flex-direction: row;
}

.report-div{
    display: flex;
    flex-direction: column;
}


.big, .small{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.category-header{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.chartname-header{
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 10px;
}


.report-content{
    margin-top: 3px;
    margin-bottom: 17px;
}

.category-top3{
    display: flex;
    justify-content: space-between;
}

.category-top3 > div{
    flex:1;
    align-items: center;
    padding-bottom: 10px;
}



.report{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 290px;
    margin-right: 290px;
    font-weight: 200;

}

.mean-div{
    margin-top: 20px;
}