/* 글꼴 */
@font-face {
    font-family: 'Hana-light';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hana-medium';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hana-bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.ttf') format("truetype");
    font-display: swap;
}

* {
    font-family: 'Hana-bold';
}

header {
    align-items: center;
    justify-content: center;
}
#headerLogo{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgLogo{
    padding-right: 10px;
}

.nameLogo {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

/* Additional styles for the child elements */
#welcomeMessage > span {
    margin-right: 10px;
}

#loginBtn{
    margin-right: 10px;
}

Button {
    display: inline-block;
    color: black; /* 글자색 */
    padding: 10px 20px; /* 패딩 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 둥근 모서리 */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

nav {
    background-color: #00857F;
    padding: 15px;
}

ul.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li.nav-item {
    margin: 0;
    padding: 0;
}

a.nav-menu {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

.container {
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

body {
    background-size: cover;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}


footer {
    bottom: 0;
    background-color: #f2f2f2; /* 배경색 설정 */
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
}

