/*!* 글꼴 *!*/
@font-face {
    font-family: 'Hana-light';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hana-medium';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hana-bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.ttf') format("truetype");
    font-display: swap;
}

* {
    font-family: 'Hana-medium';
    text-decoration-line: none;
}

.welcomeMessage{
    font-family: 'Hana-light';
}

body{
    margin: 0px;
}


#headerLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5px;
}


#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18%;
}

/*.imgLogo{*/
/*    padding-right: 10px;*/
/*}*/

.nameLogo {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

/* Additional styles for the child elements */
#welcomeMessage > span {
    margin-right: 10px;
    font-size: 13px;
}

#loginBtn{
    margin-right: 10px;
}


#loginBtn, #joinBtn, #logoutBtn {
    font-family: Hana-light;
    display: inline-block;
    color: black; /* 글자색 변경 */
    padding: 7px 10px;
    border: 0.5px solid #000;
    border-radius: 5px; /* 둥근 모서리 */
    text-align: center;
    text-decoration: none;
    font-size: 10px; /* 폰트 크기 변경 */
    cursor: pointer;
    background-color: #ffffff; /* 배경색 추가 */

}

#loginBtn:hover, #joinBtn:hover, #logoutBtn:hover {
    background-color: #00857F; /* hover 시 배경색 변경 */
    transform: scale(1.05); /* hover 시 약간 확대되는 효과 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* hover 시 그림자 약간 강화 */
}



.navbar {
    overflow: hidden;
    display: flex;
    /*background-color: #00857F;*/
    justify-content: center;

}

/* Links inside the navbar */
.navbar a {
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    padding: 3px 40px 15px 40px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #00857F;
}


.dropdown {
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    color: black;
    font-size: 17px;
    border: none;
    outline: none;
    padding: 3px 40px 15px 40px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}



/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    /* 원하는 hover 스타일을 여기에 추가하세요 */
    background-color: #cccccc;  /* 예: 배경색 변경 */
    /*color: #cccccc;                 !* 예: 글자색 변경 *!*/
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    margin-left: 200px;
    margin-right: 200px;
}

body {
    background-size: cover;
    align-items: center;
}

.content {

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}




.okBtn{
    color: white;
    border: none;
    padding: 12px 40px 12px 40px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #00857F;
    font-size: 16px;
    transition: background-color 0.3s;
    display: block; /* 버튼을 블록 레벨로 설정하여 가운데 정렬을 위한 설정 */
    margin: 0 auto;
}

.okBtn a{
    color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#email,
#password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}


#rowinput {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 아이템을 왼쪽으로 정렬 */
    margin-bottom: 20px;
}

.login-modal{
    display: none;
}


.login-modal{
    display: none;
}
.login-container {

    position: fixed; /* fixed positioning makes the container cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black background */
    display: flex; /* flex display to center the formsize */
    align-items: center; /* center vertically */
    justify-content: center; /* center horizontally */
}

.loginForm {
    width: 40%;
    height: 45%;
    background-color: #ffffff; /* white background for the form */
    /*padding: 20px; !* spacing around the form content *!*/
    border-radius: 8px; /* rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* subtle shadow for a lifted appearance */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}

.login-img-div{

    width: 50%;
    height: 100%;
    background-color: #bad0cf;
    margin: 0 auto;
    padding-right: 10%;
    border-radius:  8px 0px 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-input-div{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;

}

.cardImg{
    /*width: 100%;*/
    width: 100%;
    margin-left: 42px;
    /*margin: 0 auto;*/
}

.logo{
    width: 80%;
    margin-bottom: 20px;
    margin-left: 44px;
}

.loginBtn{
    width: 100%;
    margin-top: 10px;
}

.loginBtn {
    font-family: Hana-medium;
    width: 110%;
    display: inline-block;
    color: black; /* 글자색 변경 */
    padding: 10px 10px;
    border-radius: 5px; /* 둥근 모서리 */
    border:none;
    text-align: center;
    text-decoration: none;
    font-size: 15px; /* 폰트 크기 변경 */
    cursor: pointer;
    background-color: #bad0cf;

}

.passdiv{
    font-size: 13px;
    margin: 20px auto;
    text-align: center;
}

