/*!* 글꼴 *!*/
@font-face {
    font-family: 'Hana-light';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hana-medium';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Hana-bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaBold.ttf') format("truetype");
    font-display: swap;
}

* {
    font-family: 'Hana-medium';
    text-decoration-line: none;
}

body{

}

header{
    padding-top: 7px;
}

#headerLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}


#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18%;
}

.imgLogo{
    padding-right: 10px;
}

.nameLogo {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

/* Additional styles for the child elements */
#welcomeMessage > span {
    margin-right: 10px;
    font-size: 13px;
}

#loginBtn{
    margin-right: 10px;
}

#loginBtn, #joinBtn, #logoutBtn {
    font-family: Hana-light;
    display: inline-block;
    color: black; /* 글자색 변경 */
    padding: 7px 10px;
    border: 0.5px solid #000;
    border-radius: 5px; /* 둥근 모서리 */
    text-align: center;
    text-decoration: none;
    font-size: 10px; /* 폰트 크기 변경 */
    cursor: pointer;
    background-color: #ffffff; /* 배경색 추가 */

}

#loginBtn:hover, #joinBtn:hover, #logoutBtn:hover {
    background-color: #00857F; /* hover 시 배경색 변경 */
    transform: scale(1.05); /* hover 시 약간 확대되는 효과 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* hover 시 그림자 약간 강화 */
}



.navbar {
    overflow: hidden;
    display: flex;
    /*background-color: #00857F;*/
    justify-content: center;

}

/* Links inside the navbar */
.navbar a {
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    padding: 3px 40px 15px 40px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #00857F;
}


.dropdown {
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    color: black;
    font-size: 17px;
    border: none;
    outline: none;
    padding: 3px 40px 15px 40px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    /* 원하는 hover 스타일을 여기에 추가하세요 */
    background-color: #cccccc;  /* 예: 배경색 변경 */
    /*color: #cccccc;                 !* 예: 글자색 변경 *!*/
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    margin-left: 200px;
    margin-right: 200px;
}

body {
    background-size: cover;
    align-items: center;
}

.content {

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}


footer {
    bottom: 0;
    background-color: #f2f2f2; /* 배경색 설정 */
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
}


.okBtn{
    color: white;
    border: none;
    padding: 12px 40px 12px 40px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #00857F;
    font-size: 16px;
    transition: background-color 0.3s;
    display: block; /* 버튼을 블록 레벨로 설정하여 가운데 정렬을 위한 설정 */
    margin: 0 auto;
}

.okBtn a{
    color: white;
}