/* Set a width if you like */
.vertical-menu {
    width: 200px;
    position: absolute; /* Position absolutely within the parent */
    left: 8; /* Align to the left side */
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
}
