.spot{
    position: relative;
}

.spot > img {
    width: 400px;
    /*width: 100%;*/
    /*height: 100%;*/
}


.spot button {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 15px;
    color: red;
}

.seoul-btn {
    top: 104px;
    left: 121px;
}
.gyeonggi-btn {
    top: 137px;
    left: 133px;
}

.incheon-btn {
    top: 105px;
    left: 77px;
}
.gangwon-btn {
    top: 101px;
    left: 230px;
}
.chungnam-btn {
    top: 181px;
    left: 83px;
}
.daejeon-btn {
    top: 230px;
    left: 133px;
}

.chungbuk-btn {
    top: 169px;
    left: 180px;
}

.sejong-btn {
    top: 203px;
    left: 128px;
}

.busan-btn {
    top: 356px;
    left: 287px;
}
.ulsan-btn {
    top: 319px;
    left: 296px;
}
.daegu-btn {
    top: 289px;
    left: 248px;
}

.gyeongbuk-btn {
    top: 231px;
    left: 244px;
}
.gyeonggnam-btn {
    top: 341px;
    left: 192px;
}

.jeollanam-btn {
    top: 378px;
    left: 77px;
}
.gwangju-btn {
    top: 344px;
    left: 91px;
}

.jeollabuk-btn {
    top: 289px;
    left: 112px;
}
.jejudo-btn {
    top: 490px;
    left: 54px;
}







