.time-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}


.time-choose {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

#startHour, #endHour{
    width: 80px;
    height: 38px;
    font-size: 16px;
}

.time-choose p{
    margin: 0 10px 0 10px;
    font-size: 20px;
}


.time-range {
    display: flex;
    flex-direction: row;
    align-items: center; /* 이 부분을 추가 */
    padding: 10px;
    border: 1px solid #ccc;
    width: 70%;
    margin: 5px;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 2px;
    color: #717171;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}

.time-choose select {
    height: calc(1.5em * 5);  /* 옵션 하나의 높이(예를 들어 1.5em)을 5개만큼 계산 */
    overflow-y: auto;  /* 스크롤 가능 */
    width: 30%;
}



.time-choose option {
    background-color: #f7f7f7;
    color: #333;
}



