.sub-container{
    display: flex;
    flex-direction: column;
}

.sub-container-hearder{
    font-size: 30px;
    margin-bottom: 4%;
}

.card-select-text{
    font-size: 20px;
    margin-right: 10%;
}

.card-select-div{
    display: flex;
    align-items: center;
    margin-bottom: 3%;

}

.card-select-div select {
    width: 400px;  /* 원하는 너비로 설정 */
    height: 40px;  /* 원하는 높이로 설정 */
    padding: 5px;  /* 패딩 추가로 좀 더 편안한 느낌을 주기 위함 */
    font-size: 16px;  /* 글자 크기 조절 */
}

.hidden {
    display: none !important; /* !important를 사용하여 다른 스타일과 충돌을 피합니다 */
}

.lostcard-list {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc; /* 회색 테두리 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    border-radius: 5px; /* 둥근 테두리 */
}

.card-list-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    padding-left: 2%;
    font-size: 18px;
    width: 100%;
    justify-content: center;
}

.card-list-info-cardid{
    margin-right: 3%;
}

.card-list-info-cardname{
    margin-right: 8%;
}

.card-list-info .card-img {
    height: 70%;
}


.menu-tab {
    text-align: right;
}

.tab-button {
    width: 13%;
    height: 10%;
    font-size: 15px;
    border: none;
    background-color: #f7f7f7;   /* 기본 배경색 */
    color: #333;                 /* 기본 글자색 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
    cursor: pointer;
    border-top-left-radius: 10px;  /* 값은 원하는 크기로 조절 가능 */
    border-top-right-radius: 10px; /* 값은 원하는 크기로 조절 가능 */
}

.tab-button:hover {
    background-color: #00857F;   /* 호버 시의 배경색 */
    color: white;                 /* 호버 시의 글자색 */
}




.card-history-table {
    width: 100%;
    border-collapse: separate; /* 이 부분을 변경하여 th와 th 사이에 선을 그릴 수 있게 합니다. */
    /*margin: 20px 0;*/
    font-size: 18px;
    text-align: left;
    border: 1px solid #e0e0e0;
}

.card-history-table th,
.card-history-table td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0; /* th와 th 사이의 선을 추가합니다. */
    font-size: 17px;
}

.card-history-table th:last-child,
.card-history-table td:last-child {
    border-right: none; /* 마지막 요소의 오른쪽 선을 제거합니다. */
}

.card-history-table tbody tr:hover {
    background-color: #f5f5f5;
}

.card-history-table th {
    background-color: #f0f0f0;
    color: #333;
    text-align: center; /* th를 가운데 정렬합니다. */
}



.pagination {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-btn {
    margin-right: 5px;
    padding: 5px 10px;
    border: 0.2px solid;
    cursor: pointer;
    transition: background-color 0.3s;
}

.page-btn:hover {
    background-color: #00857F; /* 원하는 배경색으로 변경하세요 */
    color: white;
}

.current-page {
    background-color: #00857F; /* 원하는 배경색으로 변경하세요 */
    color: white; /* 원하는 배경색으로 변경하세요 */
}

#pageNumbers{
    margin-left: 3%;
    margin-right: 3%;
    width: 37%;
    display: flex;
    justify-content: space-between;
}

#pageNumbers button{
    margin: 0.7%;
    width: 30px;
    height: 27px;
    font-size: 14px;
}

#prev, #next{
    width: 42px;
    height: 27px;
    font-size: 14px;
}

.pagination{
    height: 5%;
}
