
.decreased {
    color: blue;
}

.increased {
    color: red;
}


* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    display: flex;
    max-width: 250px;
    position: relative;
    margin-right: 5%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background safetyCardSelect with a little bit see-through */
.prev:hover, .next:hover {
    background-safetyCardSelect: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.cardIdtext {
    font-size: 15px;
    padding: 20px 12px;
    text-align: center;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-safetyCardSelect: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-safetyCardSelect 0.6s ease;
}

.active, .dot:hover {
    background-safetyCardSelect: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.fade img {
    width: 100%
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.sub-container {

    display: flex;
    flex-direction: column;

}

.hello {
    margin-right: 5%;
}

.user-info {
    display: flex;
    flex-direction: row;
    border: 1px solid #00857F; /* 검은색 1픽셀 테두리 */
    padding: 10px; /* 내부 패딩 */
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
    border-radius: 10px; /* 테두리 둥글게 */
    align-items: center;
}

.cardId-info{
    display: flex;
    flex-direction: row;
    border: 1px solid #00857F;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;

}

.allow-img-prev{
    width: 30px;
    margin-right: 5%;
}

.allow-img-prev img{
    width: 100%;
}

.allow-img-next{
    width: 30px;
    margin-left: 4%;
}

.allow-img-next img{
    width: 100%;
}

.cardId-info-sub{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.cardId-info-sub-stats{
    display: flex;
    flex-direction: row;
}

.total-amount, .total-cnt{
    padding: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
    background-color: #00857F;
    color: white;
}



.safety{
    padding: 15px;
    margin: 10px;
    align-items: center;
    background-color: #eafaf3;
    border-radius: 10px; /* 테두리 둥글게 */
    width:170px;
    cursor: pointer;

}

.fds{
    padding: 15px;
    margin: 10px;
    align-items: center;
    background-color: #faefea;
    border-radius: 10px; /* 테두리 둥글게 */
    width:170px;
    cursor: pointer;
}

.no{
    padding: 15px;
    margin: 10px;
    align-items: center;
    background-color: #dddddd;
    border-radius: 10px; /* 테두리 둥글게 */
    width:170px;
    cursor: pointer;
}

.no:hover, .fds:hover, .safety:hover {
    background-color: #00857F; /* 원하는 색깔로 변경하세요 */
    color: white; /* 원하는 색깔로 변경하세요 */
}


.myinfo-button{
    color: white;
    border: none;
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    /* background-color: #00857F; */
    background-color: #0e9d97;
    font-size: 16px;
    transition: background-color 0.3s;
    display: block;
}


.cardTotal-info{
    display: flex;
    /*justify-content: space-between;*/
}

.cardTotal-info-div3{
    border: 1px solid #00857F; /* 검은색 1픽셀 테두리 */
    padding: 10px; /* 내부 패딩 */
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
    border-radius: 10px; /* 테두리 둥글게 */
    height: 30%;
    /*flex: 1;*/
}

.cardTotal-info-div1{
    border: 1px solid #00857F; /* 검은색 1픽셀 테두리 */
    padding: 25px 25px 0px 25px ; /* 내부 패딩 */
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
    border-radius: 10px; /* 테두리 둥글게 */
    height: 100%;
    width: 35%;
    margin-right: 2.5%;
}

.cardTotal-info-div2{
    border: 1px solid #00857F; /* 검은색 1픽셀 테두리 */
    padding: 25px 25px 0px 25px ; /* 내부 패딩 */
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
    border-radius: 10px; /* 테두리 둥글게 */
    height: 100%;
    width: 320px;
    position: relative;
    margin-right: 2.5%;
}

.cardTotal-info-div3{
    border: 1px solid #00857F; /* 검은색 1픽셀 테두리 */
    padding: 25px 25px 0px 25px ; /* 내부 패딩 */
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
    border-radius: 10px; /* 테두리 둥글게 */
    width: 28%;
    height: 100%;
}

#myPieChart {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.item {
    padding: 5px 0;
}

.left {
    float: left;
    width: 60%;
    text-align: left;
}

.right {
    margin-top: 5px;
    float: right;
    width: 40%;
    text-align: right;
}

.clear {
    clear: both;
}

.date {
    color: #999;
}

.cardTotal-info-div-header{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 1.2;
}

.cardTotal-info-div-chart {
    width: 100%;     /* 혹은 원하는 특정 크기, 예: 500px */
    height: 100%;    /* 혹은 원하는 특정 크기, 예: 500px */
    position: relative;  /* canvas를 꽉 차게 만들기 위해 relative positioning 사용 */
}

#myPieChart {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    position: absolute;  /* canvas를 꽉 차게 만들기 위해 absolute positioning 사용 */
    top: 0;
    left: 0;
}


.left {
    line-height: 1.5; /* or you can use px, em, etc. depending on your need */
}
