.sub-container{
    display: flex;
    flex-direction: column;
}

.sub-container-hearder{
    font-size: 30px;
    margin-bottom: 4%;
}

.sub-container-content{
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 100%;
}

.div-box2{
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-right: 6%;
}

.div-box3{
    display: flex;
    flex-direction: column;
    width: 47%;
}

.div-box1{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div-box-sub{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* 약한 그림자 추가: x-offset, y-offset, 흐림, 색 */
    transition: box-shadow 0.3s; /* 그림자 효과에 부드러운 전환 추가 */
    background-color: white; /* 연한 배경색 */
    padding: 15px;
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}

.div-box-sub-2{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* 약한 그림자 추가: x-offset, y-offset, 흐림, 색 */
    transition: box-shadow 0.3s; /* 그림자 효과에 부드러운 전환 추가 */
    background-color: white; /* 연한 배경색 */
    padding: 15px;
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}


.div-box-sub-3{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* 약한 그림자 추가: x-offset, y-offset, 흐림, 색 */
    transition: box-shadow 0.3s; /* 그림자 효과에 부드러운 전환 추가 */
    background-color: white; /* 연한 배경색 */
    padding: 15px;
    width: 100%;
    margin: 0px auto;

}

.div-box-sub1{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    background-color: white;
    padding: 15px;
    width: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div-box-sub2{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* 약한 그림자 추가: x-offset, y-offset, 흐림, 색 */
    transition: box-shadow 0.3s; /* 그림자 효과에 부드러운 전환 추가 */
    background-color: white; /* 연한 배경색 */
    padding: 15px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.left {
    float: left;
    width: 60%;
    text-align: left;
    margin-bottom: 5px;
}

.right {
    margin-top: 5px;
    float: right;
    width: 40%;
    text-align: right;
}

.div-box-content{
    padding: 10px;
}

.div-box-header1{
    margin: 20px auto;
}

.sub-header{
    font-size: 17px;
    margin-bottom: 18px;
}

.div-box-header2{
    margin-top: 76px;
}

.div-box-header{
    margin-top: 10px;
    margin-bottom: 20px;
}