<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.SelfFDS.model.dao.CardMapper">
    <!-- 카드 전체 조회 -->
    <select id="getAllCard" parameterType="com.kopo.SelfFDS.model.dto.Card"
            resultType="com.kopo.SelfFDS.model.dto.Card">
        SELECT *
        FROM card
    </select>

    <!-- 결제카드 & 비밀번호 -->
    <select id="selectPaymentCard" parameterType="HashMap" resultType="com.kopo.SelfFDS.model.dto.Card">
        SELECT
            *
        FROM card
        where CARD_ID = #{cardId}
          and CARD_PASSWORD = #{cardPassword}
    </select>

    <select id="selectCardOfEmail" parameterType="String" resultType="com.kopo.SelfFDS.model.dto.Card">
        SELECT *
        FROM card
        where EMAIL = #{email}
    </select>

    <select id="selectCardOfCardId" parameterType="String" resultType="com.kopo.SelfFDS.model.dto.Card">
        SELECT *
        FROM card
        where CARD_ID = #{card_id}
    </select>

    <update id="updateSelfFdsStatus" parameterType="com.kopo.SelfFDS.model.dto.Card">
        UPDATE card
        SET SELFFDS_SER_STATUS = #{selffds_ser_status}
        WHERE CARD_ID = #{card_id}
    </update>


</mapper>

