<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.SelfFDS.cardService.model.dao.SafetyRegisterMapper">


    <!--    지역이름 가져오기-->
    <select id="selectAllRegionName" resultType="String">
        SELECT regionName
        FROM REGION
        ORDER BY REGIONCODE
    </select>

    <!--    업종이름 가져오기-->
    <select id="selectAllBigCategory" resultType="String">
        SELECT CATEGORYBIG FROM CATEGORY
        GROUP BY CATEGORYBIG
    </select>

<!--    업종 대분류로 소분류 가져오기-->
    <select id="selectSmallCategoryOfBigCategory" resultType="com.kopo.SelfFDS.cardService.model.dto.SafetyRegister">
        SELECT *
        FROM CATEGORY
        WHERE CATEGORYBIG = #{categoryBig}
    </select>

<!--    <select id="selectManyCategoryLatestMonthOfCardID" resultType="com.kopo.SelfFDS.model.dto.CardHistory">-->
<!--        SELECT category, COUNT(*) AS CATEGORY_CNT-->
<!--        FROM CARDHISTORY-->
<!--        WHERE cardId = #{cardId}-->
<!--          AND cardHisDate &gt;= (SELECT ADD_MONTHS(TRUNC(MAX(cardHisDate), 'MM'), -1) FROM CARDHISTORY WHERE cardId = #{cardId})-->
<!--          AND cardHisDate &lt; (SELECT TRUNC(MAX(cardHisDate), 'MM') + 1 FROM CARDHISTORY WHERE cardId = #{cardId})-->
<!--        GROUP BY category-->
<!--        ORDER BY COUNT(*) DESC-->
<!--    </select>-->


</mapper>

